<div class="grid-item col-xs-12 col-sm-4" id="<%= project.id %>">
    <div class="grid-item-content">
	    <label class="grid-item-close" id="<%= project.id %>"><span aria-hidden="true">&times;</span></label>
		<div class="container-fluid donation_card_small">	
			<div class="row" style="">
				<div class="col-lg-12">	
					<div class="donation_card_small_img" style="background-image: url('<%= project.pj_cover.url%>')"></div>	
					<div class="donation_card_small_title"><%= project.name %></div>
					<div class="donation_card_small_content"><%= truncate( project.description, length: 60)%></div>
					<button type="button" class="btn btn-block grid-item-button" id="grid-item-button_<%= project.id %>" data-id="<%= project.id %>">點擊贊助</button>		
				</div>			
			</div>	
		</div>  
		<div class="container-fluid donation_card_enlarge">	
			<div class="row" style="">
				<div class="col-sm-6 donation_form_content">	
					<div class="donation_card_enlarge_img" style="background-image: url('<%= project.pj_cover.url %>');"></div>	
					<div class="donation_card_enlarge_title" id="grid-item-button_<%= project.id %>_title"><%= project.name %></div>
					<div class="donation_card_enlarge_content"><%= project.description%></div>		
					<table class="table donation_card_enlarge_table">
					    <tbody>
					      <tr>
					        <th>預算:</th>
					        <td>$<%= project.budget %></td>
					      </tr>
					      <tr>
					        <th>執行狀況:</th>
					        <td><%= project.exe_desc %></td>
					      </tr>
					      <tr>
					        <th></th>
					        <td>附件</td>
					      </tr>					      
					    </tbody>
					</table>											
				</div>
				<div class="col-sm-6 donation_form_pie" style="margin-top: 15px;">	
					<div class="donation_card_pie">			
						<!--						
						<section class="model-2">
						  <div class="graph">支出比例</div><span tooltip="70%" class="tooltip">人事</span>
						</section>
						<section class="model-3">
						  <div class="multi-graph">javaScript
						    <div data-name="jQuery" class="graph jQuery"> </div>
						    <div data-name="javaScript" class="graph javaScript"></div>
						    <div data-name="Angular JS" class="graph angular"> </div>
						  </div>
						</section>						
						-->							
						<% donation = project.donations.where(donate: true).sum(:amount) %>		
						<div id="doughnutChart_<%=project.id%>" class="chart" data-donation = "<%= donation %>" data-expect_remains = "<%= project.budget - donation %>" data-exp_personnel="<%=project.exp_personnel%>" data-exp_business="<%=project.exp_business%>" data-exp_mix="<%=project.exp_mix%>" data-exp_other="<%=project.exp_other%>"></div>										
					</div>		
					<%= form_tag('/main/donation', class: "donation_form") do -%>
						<%= hidden_field_tag 'id', project.id, class: 'form-control'%>
						<div class="donation_form_title">收據</div> 
						<div class="btn-group donation_btn_group" data-toggle="buttons">
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="receipt" autocomplete="off" value="true" id="<%= project.id %>" /> 是                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="receipt" autocomplete="off" value="false" id="<%= project.id %>" /> 否	                
			                </label>   
			            </div>		
			            <div class="form_group_donation form_group_donation_hidden form_group_donation_<%=project.id%>" style="transition: all .3s ease .15s;">			
							<div class="form-group">
								<div class="donation_form_title">收據抬頭</div> 
							  	<%= text_field_tag 'title', nil, class: 'form-control' %>
							</div>
						    <div class="form-group">
						    	<div class="donation_form_title">聯絡人</div>   
						  		<%= text_field_tag 'name', nil, class: 'form-control' %>
						    </div>							
						    <div class="form-group">
						    	<div class="donation_form_title">電話</div>   
						  		<%= text_field_tag 'phone', nil, class: 'form-control' %>
						    </div>  
						    <div class="form-group">
						    	<div class="donation_form_title">EMAIL</div>   
						  		<%= email_field_tag 'email', nil, class: 'form-control' %>
						    </div>								    
						    <div class="form-group">
						    	<div class="donation_form_title">地址</div>   
						  		<%= text_field_tag 'address', nil, class: 'form-control' %>
						  	</div>  
					  	</div> 
					  	<div class="donation_form_title">金額</div>  
						<div class="btn-group donation_btn_group" data-toggle="buttons">
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="1000" /> $1000	                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="2000" /> $2000	                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="5000" /> $5000	                
			                </label> 			    
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="10000" /> $10000	                
			                </label> 		
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="15000" /> $15000	                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="20000" /> $20000	                
			                </label> 			                			                		                            			                
		           		</div>    
						<div class="form-group form-inline"> 
						  	<%= text_field_tag 'amount_others', nil, class: 'form-control amount_others', placeholder: '或輸入您想捐款的金額'%>
							<%= submit_tag '捐款', class: "btn donation_button" %>
						</div>  

					<% end -%>					
				</div>				
			</div>	
			
			
			
			
			
			
			
			
			<div class="row donation_timeline" style="">
				<div class="col-sm-10 col-sm-offset-1">	
					<div class="text-center">執行狀況</div>
				</div>				
			</div>		
			<div class="row" style="">
				<div class="col-sm-12">				
			
					
	<ul class="timeline">
		
		<% project.stages.order('stageDate').each_with_index do |s, i| %>
        <li class="<%if i%2 != 0 %>timeline-inverted<%end%>">
          <%if i%2 != 0 %>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>      
          <%else%>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-chevron-left"></i></div>         
          <%end%>	
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%=s.title %></h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%=s.stageDate.strftime("%Y/%m/%d") %></small></p>              
            </div>
            <div class="timeline-body">
              <p><%= s.description%></p>
		    	<% if s.image.blank? and !s.video_url.blank?%>	    	
              		<div class='embed-container'><iframe src='http://www.youtube.com/embed/<%= s.video_url %>?showinfo=0' frameborder='0' allowfullscreen></iframe></div>		    	
		    	<% elsif !s.image.blank?  and s.video_url.blank?%>	
					<%= image_tag s.image.url %>
		    	<% end %>
            </div>
          </div>
        </li>        	
        	
        <% end %>        	
        	
        	
        <!--
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-chevron-left"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">募款開始</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2016/05/26 </small></p>
            </div>
            <div class="timeline-body">
              <p>熱帶氣旋是發生在熱帶、亞熱帶地區海面上的氣旋性環流（風暴），由水蒸氣冷卻凝結時放出潛熱發展而出的暖心結構。所以當熱帶氣旋登陸後，或者當熱帶氣旋移到溫度較低的洋面上，便會因為失去溫暖、潮濕的空氣供應能量，而減弱消散，或失去熱帶氣旋的特性，轉化為溫帶氣旋。</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">校友聚會說明</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2016/05/30 </small></p>              
            </div>
            <div class="timeline-body">
              <p>熱帶氣旋是發生在熱帶、亞熱帶地區海面上的氣旋性環流（風暴），由水蒸氣冷卻凝結時放出潛熱發展而出的暖心結構。所以當熱帶氣旋登陸後，或者當熱帶氣旋移到溫度較低的洋面上，便會因為失去溫暖、潮濕的空氣供應能量，而減弱消散，或失去熱帶氣旋的特性，轉化為溫帶氣旋。</p>
              <%= image_tag 'bench.jpg'%>
            </div>
          </div>
        </li>
		<li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-chevron-left"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">募款開始</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2016/05/26 </small></p>
            </div>
            <div class="timeline-body">
              <p>熱帶氣旋是發生在熱帶、亞熱帶地區海面上的氣旋性環流（風暴），由水蒸氣冷卻凝結時放出潛熱發展而出的暖心結構。所以當熱帶氣旋登陸後，或者當熱帶氣旋移到溫度較低的洋面上，便會因為失去溫暖、潮濕的空氣供應能量，而減弱消散，或失去熱帶氣旋的特性，轉化為溫帶氣旋。</p>
              <%= image_tag 'sample_2.jpg'%>	
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">校友聚會說明</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2016/05/30 </small></p>              
            </div>
            <div class="timeline-body">
              <p>熱帶氣旋是發生在熱帶、亞熱帶地區海面上的氣旋性環流（風暴），由水蒸氣冷卻凝結時放出潛熱發展而出的暖心結構。所以當熱帶氣旋登陸後，或者當熱帶氣旋移到溫度較低的洋面上，便會因為失去溫暖、潮濕的空氣供應能量，而減弱消散，或失去熱帶氣旋的特性，轉化為溫帶氣旋。</p>
              <div class='embed-container'><iframe src='http://www.youtube.com/embed/qXv7POo5MNI?showinfo=0' frameborder='0' allowfullscreen></iframe></div>
            </div>
          </div>
        </li>        
		-->      
    </ul>			
			
			
				</div>				
			</div>			
			
			
			
			
			
			
			
			
			
<!--
			<div class="row donation_sponsor" style="">
				<div class="col-sm-10 col-sm-offset-1">	
					<div class="text-center">捐款名冊 <span class="glyphicon glyphicon-triangle-bottom" id="<%= project.id%>"></span></div>
				</div>				
			</div>	
			<div>			
				<div class="row donation_sponsor_content donation_sponsor_content_hidden donation_sponsor_content_<%= project.id%>">
					<div class="col-sm-5 col-sm-offset-1">	
						<div class="donation_sponsor_text no-span">皮x丘</div>
						<div style="width: 25%; float: right;">8000元</div>												
					</div>	
					<div class="col-sm-5 col-sm-offset-1">	
						<div class="donation_sponsor_text no-span">財團法人台x電文教基金會</div>
						<div style="width: 25%; float: right;">80000元</div>												
					</div>											
				</div>
				<div class="row donation_sponsor_content donation_sponsor_content_hidden donation_sponsor_content_<%= project.id%>">
					<div class="col-sm-5 col-sm-offset-1">	
						<div class="donation_sponsor_text no-span">財團法人台x電文教基金會</div>
						<div style="width: 25%; float: right;">8000元</div>												
					</div>	
					<div class="col-sm-5 col-sm-offset-1">	
						<div class="donation_sponsor_text no-span">金x武</div>
						<div style="width: 25%; float: right;">80000元</div>												
					</div>											
				</div>
				<div class="row donation_sponsor_content donation_sponsor_content_hidden donation_sponsor_content_<%= project.id%>">
					<div class="col-sm-5 col-sm-offset-1">	
						<div class="donation_sponsor_text no-span">流x滑</div>
						<div style="width: 25%; float: right;">8000元</div>												
					</div>	
					<div class="col-sm-5 col-sm-offset-1">	
						<div class="donation_sponsor_text no-span">王x安</div>
						<div style="width: 25%; float: right;">80000元</div>												
					</div>											
				</div>
			</div>	
-->
		</div> 		
	</div>
</div>