<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t("查詢委辦計畫")%></h4>
      </div>
      <div class="modal-body">        
		<form class="form-inline text-center" id="login_form">
		  <div class="form-group">
		    <label for="project_account"><%= t("計畫代號")%></label>
		    <input type="text" class="form-control" id="project_account" name="project_account">
		  </div>
		  <div class="form-group">
		    <label for="project_password"><%= t("密碼")%></label>
		    <input type="password" class="form-control" id="project_password" name="project_password">
		  </div>
		  <button type="submit" class="btn donation_project_submit_button"><%= t("查詢")%></button>
		</form>  
		<p style="margin-top: 100px; margin-bottom: 100px;" class="text-center modal_animate">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 40px; color: #C070A3"></span>						
		</p>
		<table class="table donation_card_enlarge_table modal_table">
			<tbody>
				<tr>
					<th><%= t("西元年度")%>:</th>
					<td class="modal_year"></td>
				</tr>						
				<tr>
					<th><%= t("名稱")%>:</th>
					<td class="modal_name"></td>
				</tr>										
				<tr>
					<th><%= t("去年餘額")%>:</th>
					<td class="modal_last_year_balance"></td>
				</tr>
				<tr>
					<th><%= t("收入")%>:</th>
					<td class="modal_income"></td>
				</tr>
				<tr>
					<th><%= t("支出")%>:</th>
					<td class="modal_last_year_exp"></td>
				</tr>
				<tr>
					<th><%= t("餘額")%>:</th>
					<td class="modal_balance"></td>
				</tr>								
				<!--				
				<tr>
					<th>人事支出:</th>
					<td class="modal_exp_personnel"></td>
				</tr>		
				<tr>
					<th>雜支支出:</th>
					<td class="modal_exp_mix"></td>
				</tr>		
				<tr>
					<th>業務支出:</th>
					<td class="modal_exp_business"></td>
				</tr>									
				<tr>
					<th>其他支出:</th>
					<td class="modal_exp_other"></td>
				</tr>	
				<tr>
					<th><%= t("目前餘額")%>:</th>
					<td class="modal_balance"></td>
				</tr>	
				-->						
				<tr>
					<th><%= t("支出明細")%>:</th>
					<td><a href="" class="modal_exp_file_name"></a></td>
				</tr>	
				
				
								      
			</tbody>
		</table>		
		
		
		
		
		            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal"><%= t("關閉")%></button>
      </div>    
    </div>
  </div>
</div>

<script>
//============================= project login =============================//
$('.modal_table').hide()
$('.modal_animate').hide()
$( "#login_form" ).submit(function( event ) {
	$('.modal_table').hide()	
  	event.preventDefault();
	if ($("#project_account").val().length < 1 || $("#project_password").val().length < 1) {
	    toastr['warning']('<%= t("請輸入帳號密碼") %>')	
	    return false;
	}
	$('.modal_animate').show()
	//setTimeout(function(){
		$.ajax({
			type: "POST",
			url: "/projects/checkLogin",
			data: $(this).serializeArray(),
			dataType: 'json',
			success: function(data) {
				$('.modal_animate').hide()
				if (data.success) {
					$('.modal_table').show()
					$('.modal_year').html(data.year)
					$('.modal_name').html(data.name)
					$('.modal_budget').html(data.budget)
					$('.modal_exp_file_name').html(data.exp_file_name)
					$('.modal_exp_file_name').attr("href", data.exp_file_url)
					$('.modal_exp_personnel').html(data.exp_personnel)
					$('.modal_exp_mix').html(data.exp_mix)
					$('.modal_exp_other').html(data.exp_other)
					$('.modal_exp_business').html(data.exp_business)
					$('.modal_income').html(data.income)
					$('.modal_balance').html(data.balance)	
					$('.modal_last_year_exp').html(data.last_year_exp)											
					$('.modal_last_year_balance').html(data.last_year_balance)											
	    		}else{
	    			 toastr['warning']('<%= t("帳號密碼錯誤") %>')
	    		}
			}
		});
	//}, 2000);		
	return false;
});

/*
$("#login_form").bind("submit", function() {
	
		alert(132);
	
	if ($("#login_name").val().length < 1 || $("#login_pass").val().length < 1) {
	    $("#login_error").show();
	    return false;
	}
	
	alert(132);
	
	$.ajax({
		type		: "POST",
		cache	: false,
		url		: "/projects/check_login",
		data		: $(this).serializeArray(),
		dataType: 'json',
		success: function(data) {
			if (data.success) {
      			window.location.href = data.location;
    		}else{
    			window.location.href = data.location;
    			$.fancybox.hideLoading();
    		}
		}
	});

	return false;

});
*/
</script>
