<div class="grid-news-item col-xs-12 col-sm-6 col-md-3">
	<div class="grid-news-item-content">
		<label class="grid-news-item-close" id="<%= news.id %>"><span aria-hidden="true">&times;</span></label>
		<label class="grid-news-item-button" id="<%= news.id %>">閱讀更多</label>		
		<div class="container-fluid news_card_small">	
			<div class="row">
				<div class="col-sm-12 news_card_padding">	
					<div class="news_card_small_title"><%= news.topic %></div>
					<div class="news_card_small_date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= news.news_date.strftime("%Y/%m/%d") %></small></div>			          										
					<div class="news_card_small_content"><%= truncate( news.description, length: 100)%></div>
				</div>			
			</div>	
		</div> 
		<div class="container-fluid news_card_enlarge">	
			<div class="row">
				<div class="col-sm-12 news_card_padding">	
					<div class="news_card_enlarge_title"><%= news.topic %></div>
					<div class="news_card_enlarge_date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= news.news_date.strftime("%Y/%m/%d") %></small></div>			          															
					<div class="news_card_enlarge_content"><%= simple_format( news.description )%></div>		
				</div>				
			</div>	
		</div> 				
	</div>
</div>