<div class="grid-news-item col-xs-12 col-sm-6 col-md-6">
	<div class="grid-news-item-content">
		<label class="grid-news-item-close" id="<%= news.id %>"><span aria-hidden="true">&times;</span></label>
		<label class="grid-news-item-button" id="<%= news.id %>"><%= t("閱讀更多") %></label>						
		<div class="container-fluid news_card_small">	
			<div class="row" style="">			
				<div class="col-sm-12 news_card_padding">	
					<div class="news_card_small_title"><%= news.topic %></div>
					<div class="news_card_small_date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= news.news_date.strftime("%Y/%m/%d") %></small></div>			          										
					<div class="news_card_small_img" style="background-image: url('<%= news.pictures.first.image.url %>');"></div>	
					<div class="news_card_small_content"><%= truncate( news.description, length: 100)%></div>
				</div>			
			</div>	
		</div> 
		
		
		<div class="container-fluid news_card_enlarge">	
			<div class="row" style="">	
				<div class="col-sm-12">						
					<div class="news_card_enlarge_title"><%= news.topic %></div>
					<div class="news_card_enlarge_date"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= news.news_date.strftime("%Y/%m/%d") %></small></div>			          															
					<div class="news_card_enlarge_content"><%= auto_link(simple_format( news.description ))%></div>		
			
					<div id="carousel_<%=news.id %>" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					  	<% news.pictures.each_with_index do | i, p|%>
					    	<li data-target="#carousel_<%=news.id %>" data-slide-to="<%= p%>"></li>
					 	<%end%>
					  </ol>
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	<% news.pictures.each_with_index do | p, i|%>
					    	<div class="item <%if i == 0%>active<%end%>">
					      		<%= image_tag p.image.url%>
					    	</div>
					 	<%end%>					  	
					  </div>
					  <!-- Left and right controls -->
					  <a class="left carousel-control" href="#carousel_<%=news.id %>" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel_<%=news.id %>" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
								
				</div>				
			</div>	
		</div> 	
				
					
	</div>
</div>