<div class="container-fluid about_top">
	<div class="about_top_background_image"></div>
	<div class="row" style="position:relative; z-index:2;">
		<div class="col-lg-offset-4 col-lg-4 col-sm-offset-2 col-sm-8" style="height: 90vh;">
<!--
<div id="trigger1" class="spacer s0"></div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1000" height="1000">

<path id="word" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.23px; stroke-dashoffset: 1009.23px;" fill="none" stroke="#000000" stroke-width="5" d="M22.328,70.018c9.867-7.4,10.724,20.434,13.014,28.694c-0.08-9.105-1.308-31.463,11.936-31.886
			c11.313-0.361,17.046,19.368,16.367,28.098c-1.432-10.289,6.234-30.682,18.163-25.671c11.505,4.833,8.682,26.772,20.071,31.964
			c13.06,5.953,14.854-8.305,19.734-17.017c7.188-12.836,4.933-15.417,29.6-14.8c-8.954-3.842-37.42,1.728-28.539,20.1
			c5.823,12.045,34.911,12.583,30.018-8.873c-5.385,17.174,24.01,23.104,24.01,9.123c0-9.867,3.816-15.937,16.034-18.5
			c8.359-1.754,18.982,4.754,25.9,9.25c-10.361-4.461-51.941-13.776-37.749,12.357c9.435,17.372,50.559,2.289,33.477-6.063
			c-2.871,19.008,32.415,31.684,30.695,54.439c-2.602,34.423-66.934,24.873-79.302,2.134c-13.11-24.101,38.981-36.781,54.798-40.941
			c8.308-2.185,42.133-12.162,25.88-25.587c-2.779,17.058,19.275,28.688,29.963,12.911c6.862-10.131,6.783-25.284,30.833-19.117
			c-9.404-0.429-32.624-0.188-32.864,18.472c-0.231,17.912,21.001,21.405,40.882,11.951"></path>
	<path id="dot" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 44.2974px; stroke-dashoffset: 44.2974px;" fill="none" stroke="#000000" stroke-width="5" d="M247.003,38.567c-7.423,1.437-11.092,9.883-1.737,11.142c14.692,1.978,13.864-13.66,1.12-8.675"></path>


 




</svg>		
-->

	
		</div>
	</div>		
</div>	
<div class="container">
	<div class="row">
		<div class="col-md-6 text-right" style="">	
			<div style="height: 400px; 
			background: #b3a253; 
			width: 1px; 
			position: absolute;
			-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);"></div>
    
			

			
			<div class="about_quote text-center">
				“ 基金會命名取自交大人重視「飲水思源」，不忘感念母校的永恆信念。 „
			</div>
			<%=image_tag 'about/sign_chairman.png', class: 'sign_chairman' %>						
		</div>
		<div class="col-md-6 about_chairman_container">		
			

		<div style="height: 500px; 
			background: #b3a253; 
			width: 1px; 
			position: absolute; 
			left: 0px;
			-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);"></div>			
			
			
		<div class="about_chairman_bg"></div>		
		<%=image_tag 'about/chairman.jpg', class: 'about_chairman' %>
		</div>
	</div>		
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 about_ceo_container">	
		<div class="about_ceo_bg"></div>		
		<%=image_tag 'about/CEO.jpg', class: 'about_ceo' %>					
		</div>		
		<div class="col-md-6 text-right" style="">		
			<div class="about_quote text-center">
				“ 當你真心渴望追求某種事物的話，整個宇宙都會聯合起來幫你完成。 „
			</div>	
			<%=image_tag 'about/sign_ceo.png', class: 'sign_ceo' %>													
		</div>
	</div>		
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 text-left" style="">
			<div class="about_original_1_container" style="visibility: hidden">	
			<div class="about_original_title">成立緣起</div>
			<div class="about_original_content">國立交通大學自1958 年在新竹復校以來，先後培養了理工、管理、人文等人才達八萬餘人，分佈在產、官、學、研各領域，形成一股龐大校友力量。在各界熱心人士及校友齊心發起，並由殷之浩、施振榮、胡定華、焦佑鈞、簡明仁、葉宏清、陳榮祥、張國華、邱再興、曹興誠等人捐助下，於1994 年7 月23 日獲經濟部核准正式成立。基金會命名取自交大人重視「飲水思源」，不忘感念母校的永恆信念。</div>
			</div>
		</div>
		<div class="col-md-6 about_original_bg_1_container">		
		<div class="about_original_bg_1"></div>		
		<%=image_tag 'about/original_1.png', class: 'about_original_1' %>
		</div>
	</div>		
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6  about_original_bg_2_container">	
		<div class="about_original_bg_2"></div>		
		<%=image_tag 'about/original_2.png', class: 'about_original_2' %>		
		</div>
		<div class="col-md-6 text-left" style="">
			<div class="about_original_2_container" style="visibility: hidden">			
				<div class="about_original_title">任務與使命</div>
				<div class="about_original_content">
				建立平台，凝聚校友力量挹注給交大，提供母校除了公部門資源外之校友強力後盾，共同實現母校邁向「偉大大學」目標…
				</div>
			</div>
		</div>
	</div>		
</div>
<div class="container">
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-6">				
			<div class="grid-plan">
				<div class="grid-plan-sizer col-xs-12 col-sm-6"></div>
				<%=render "main/temp/about_card_1", id_id_id: 1%>
				<%=render "main/temp/about_card_2", id_id_id: 2%>
				<%=render "main/temp/about_card_3", id_id_id: 3%>
				<%=render "main/temp/about_card_4", id_id_id: 4%>
			</div>	
		</div>
		<div class="col-md-6">	
			<div class="about_plan_main_container" style="background: rgb(244, 163, 1)">
				<div class="about_plan_main_title">1. 支持交大從卓越邁向偉大大學</div>
				<div class="about_plan_main_content">				
				交大身為國內頂尖大學之一，面對瞬息萬變的國際環境與全球大學的競爭，除來自公部門的經費挹注，須有更豐沛的校友力量支援。為協助母校厚植全球競爭優勢，本會推動「支持交大從卓越邁向偉大大學」整合計畫，分別從協助交大延攬國際優秀教授、爭取國際菁英就讀、吸引國內優秀高中畢業生、建置藝術化校園等方向努力。
				</div>
			</div>
		</div>
	</div>		
</div>
<div class="container">
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-6">	
			<div class="about_plan_main_container" style="background: rgb(192, 112, 163)">
				<div class="about_plan_main_title">2. 促進校園創業─思源創新創業整合計畫</div>
				<div class="about_plan_main_content">				
				延續交大學長們數十年來創業精神，且身為教育部創新創業中心示範學校之一，交大在推動校園創業一向不遺餘力，致力打造校園友善創業環境。本會也同時啟動「促進校園創業- 思源創新創業整合計畫」，由校友幫助校園創業團隊或未來有志創業之學生迎向夢想，一代幫一代產生正向循環，引發化學效應，促進校園研究成果商業化發展。
				</div>
			</div>
		</div>	
		<div class="col-md-6">				
			<div class="grid-plan">
				<div class="grid-plan-sizer col-xs-12 col-sm-6"></div>
				<%=render "main/temp/about_card_5", id_id_id: 5%>
				<%=render "main/temp/about_card_6", id_id_id: 6%>
				<%=render "main/temp/about_card_7", id_id_id: 7%>
				<%=render "main/temp/about_card_8", id_id_id: 8%>
			</div>	
		</div>
	</div>		
</div>
<div class="container">
	<div class="row" style="height: 30vh">
		<div class="col-md-12">
		</div>
	</div>		
</div>				
<%= render "about_script" %>