<div class="container-fluid about_top" style="height: 100vh;">
	<div class="about_top_background_image"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="top_solgan_container">
				<div class="left_vertical_solgan_line"></div>
				<div class="top_horizontal_solgan_line"></div>			
				<div class="right_vertical_solgan_line"></div>
				<div class="bottom_horizontal_solgan_line"></div>			
				<div class="text-center top_solgan">
						<span class="slogan_text slogan_1">飲</span><span class="slogan_text slogan_2">水</span><span class="slogan_text slogan_3">思</span><span class="slogan_text slogan_4">源</span>
				</div>
			</div>	
			<div class="top_en_container text-center">
				<span style="position: relative; font-family:Times New Roman;">Spring Foundation of NCTU</span>
			</div>
			<div class="about_arrow_container text-center">
				<a href="#about_1" class="about_arrow">
					<span class="glyphicon glyphicon-menu-down"></span>
				</a>
			</div>		
		</div>
	</div>		
</div>	
<div class="container" style="padding-top: 50px;" id="about_1">
	<div class="row">
		<div class="col-lg-6 about_chairman_quote_container text-right" style="position: relative">	
			<!--<div class="about_quote_line about_quote_line_2"></div>
			<div class="about_original_title text-left" style="margin-top: 40px; margin-bottom: 20px;">董事長<span style="color: #b3a253;">的話</span></div>
			<div class="about_original_content text-left" style="margin-top: 0px;"><span style="font-size: 150%">交</span>通大學特殊的校風與傳承，就是校友們強大的內聚力以及對學校無私的支持。秉持這項傳統，一步一步，交大思源基金會也已經跨過了廿個年頭。本基金會的資產，除了創辦之初的捐款外，多年來也有校友及熱心夥伴們新增的捐助及積累，在歷屆董事會的指導下，本會贊助並參與許許多多的學校發展計畫及校園活動，與時俱進，兢兢業業，不敢辜負校友及捐贈者的期許。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;希望在承先啟後的長流裡，以此平台，凝聚校友的力量，擴展更多的資源，和學校有更積極性的互動，創造更多的價值。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感謝所有交大思源基金會的朋友們，讓我們大家為交通大學繼續共同努力！</div>			
			-->
			<div class="about_quote_title about_quote_title_en about_quote_title_1 text-left" id="about_quote_title_1">
			CHAIRMAN</span>			
			<div class="text-right about_quote_title_name">Wu Guang-Yi</div>					
			</div>
			<div class="about_quote about_quote_1 text-center">		
				<div id="chair_more_content_less">	
				NCTU’s unique spirit and heritage rest in the powerful cohesion and selfless support of our alumni. 
				<span style="font-size: 70%;" id="chair_more" class="about_more hidden-xs">...more</span>
				</div>
				<div id="chair_more_content" class="about_original_content text-left" style="margin-top: -50px;">
					NCTU’s unique spirit and heritage rest in the powerful cohesion and selfless support of our alumni. Upholding this legacy, Spring Foundation of NCTU has already, step by step, marched into its third decade.Apart from donations to establish this Foundation, its assets consist of donations accumulated from alumni and earnest partners throughout past years. Guided by each board of directors, this Foundation has sponsored and participated in many university development programs and campus events. The Foundation has been conscientiously and earnestly been advancing with the times and would never have the heart to fail the expectations of its alumni and donors. We hope it is our legacy left for future years, that with this platform, we can unite together the powers of even more alumni, expand the collection of resources, interact with the university in an even more positive manner, and create more value.My thanks go to allfriends of Spring Foundations of NCTU. Let’s stick together and continue our hard work for National Chiao Tung University!
				</div>					
			</div>		
			<div class="about_chairman_bg_2 hidden-lg"></div>
			<%=image_tag 'about/chairman.jpg', class: 'about_chairman hidden-lg' %>
		</div>
		<div class="col-lg-6 about_chairman_container hidden-md hidden-sm hidden-xs">		
			<div class="about_quote_line about_quote_line_1"></div>	
			<!--<div class="about_quote_line about_quote_line_2"></div>-->							
			<div class="about_chairman_bg"></div>	
			<div class="about_chairman_bg_2"></div>
			<%=image_tag 'about/chairman.jpg', class: 'about_chairman' %>
		</div>
	</div>		
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-6 about_ceo_container">	
			<div class="about_quote_line about_quote_line_3"></div>	
			<!--<div class="about_quote_line about_quote_line_4"></div>-->							
			<div class="about_ceo_bg hidden-md hidden-sm hidden-xs"></div>	
			<div class="about_ceo_bg_2"></div>		
			<%=image_tag 'about/CEO.jpg', class: 'about_ceo' %>	
			<div style="height: 140px; position: relative">				
				<div class="about_quote_title about_quote_title_en about_quote_title_2_mobile text-right hidden-lg" style="position: absolute; right: 0px;">
					CEO</span>			
					<div class="text-right about_quote_title_name">Huang Zhong-Zhi</div>					
				</div>		
			</div>	
			<div class="about_quote about_quote_2_mobile text-center hidden-lg">		
				<div class="ceo_more_content_less">	
					“Stay grateful” is a major part of the key values and perspective that has always been cherished by every member of National Chiao Tung University.
				<span style="font-size: 70%;" class="ceo_more about_more hidden-xs">...more</span>
				</div>
				<div class="ceo_more_content about_original_content text-left" style="margin-top: -40px;">
					“Stay grateful” is a major part of the key values and perspective that has always been cherished by every member of National Chiao Tung University. It is my great honor to be appointed to the Chief Executive Officer by the Board of Directors of the Spring Foundation of NCTU, which was founded jointly by our senior alumni, to undertake resolutions of the Board of Directors.Enlightened by the collective wisdom of the current board of directors and supervisors, this Foundation has formulated two keynote strategies for the future as follows:1. Support of the Outstanding NCTU to Become a Great University Programproposed by Dr. Frank Chang, the incumbent President of NCTU2. The Promoting Campus Entrepreneurship Integration ProgramThis Foundation, although limited in human and financial resources as well as challenged by the fast changing world, has always sympathized with the alumni’s high expectation of seeing our school become an international first-class institute, and therefore will cooperate even more closely Association of NCTU Alumni, give full play to alumni’s expertise and social resources, and become the strongest supporter and partner of our our school. We are going to establish a more transparent and traceable accounting of donation expenditures and the progress on implementation of the relevant programs; we are to treasure and make good use of the entire amount of donations to have this Foundation built into the most effective platform for the alumni and society to support NCTU. Let’s stick together to take NCTU to new heights!
				</div>								
			</div>		
		</div>		
		<div class="col-lg-6 text-right hidden-md hidden-sm hidden-xs">
			<div class="about_quote_title about_quote_title_en about_quote_title_2 text-left">
			CEO</span>			
			<div class="text-right about_quote_title_name">Huang Zhong-Zhi</div>					
			</div>
			<div class="about_quote about_quote_2 text-center">		
				<div class="ceo_more_content_less">	
				“Stay grateful” is a major part of the key values and perspective that has always been cherished by every member of National Chiao Tung University.
				<span style="font-size: 70%;" class="ceo_more about_more">...more</span>
				</div>
				<div class="ceo_more_content about_original_content text-left" style="margin-top: -40px;">
					“Stay grateful” is a major part of the key values and perspective that has always been cherished by every member of National Chiao Tung University. It is my great honor to be appointed to the Chief Executive Officer by the Board of Directors of the Spring Foundation of NCTU, which was founded jointly by our senior alumni, to undertake resolutions of the Board of Directors.Enlightened by the collective wisdom of the current board of directors and supervisors, this Foundation has formulated two keynote strategies for the future as follows:1. Support of the Outstanding NCTU to Become a Great University Programproposed by Dr. Frank Chang, the incumbent President of NCTU2. The Promoting Campus Entrepreneurship Integration ProgramThis Foundation, although limited in human and financial resources as well as challenged by the fast changing world, has always sympathized with the alumni’s high expectation of seeing our school become an international first-class institute, and therefore will cooperate even more closely Association of NCTU Alumni, give full play to alumni’s expertise and social resources, and become the strongest supporter and partner of our our school. We are going to establish a more transparent and traceable accounting of donation expenditures and the progress on implementation of the relevant programs; we are to treasure and make good use of the entire amount of donations to have this Foundation built into the most effective platform for the alumni and society to support NCTU. Let’s stick together to take NCTU to new heights!
				</div>								
			</div>												
		</div>
	</div>		
</div>
<section class="original_section">
<div class="container">
	<div class="row">
		<div class="col-md-6 text-left" style="">
			<div class="about_original_1_container">	
			<div class="about_original_title">
				Founding Story
			</div>
			<div class="about_original_content">
				Ever since reopening in Hsinchu in 1958, National Chiao Tung University has cultivated more than 80,000 talented individuals in the fields of science & technology, management and culture, who are now working in a variety of fields covering industry, government, academia and research, constituting an influential force of alumni. The Spring Foundation of NCTU was officially founded on July 23, 1994 upon the approval by the Ministry of Economic Affairs, attributed to the initiation jointly by enthusiasts from all walks of life and alumni, and the donation from Glyn T.H Yin, Stan Shih, Ding-Hua Hu, Yo-Chun Chiao, Ming-Jen Chien, Hung-Ching Yeh, Peter Chen, Kuo-Hua Chang, Andrew Chiu, Robert Tsao. In appreciation for the endeavor and contribution from alumni in the reopening process of NCTU, Mr. HungHsun Ling, the first principal of NCTU after it was reopened, had autographed and built in Po-Ai Campus a stone tablet with the inscription in Chinese for “Stay Grateful” * – the motto then became a belief shared by everyone in NCTU and hence origin of the name for Spring Foundation of NCTU. 
			</div>
			</div>
		</div>
		<div class="col-md-6 about_original_bg_1_container text-center">	
		<!--<div class="about_original_line about_original_line_1"></div>-->
		<%=image_tag 'about/original_1.png', class: 'about_original_1' %>
		</div>
	</div>		
</div>
</section>
<section class="original_section">
<div class="container">
	<div class="row">
		<div class="col-md-6  about_original_bg_2_container">
			<div class="about_original_2_container_mobile hidden-md hidden-lg">	
				<div class="about_original_title">
					Mission and Vision
				</div>
				<div class="about_original_content">
					To establish a platform for alumni to contribute to NCTU, making it another powerful backup force for our school in addition to government resources.
				</div>
			</div>	
			<div class="text-center">				
			<%=image_tag 'about/original_2.png', class: 'about_original_2' %>	
			</div>
			<!--<div class="about_original_line about_original_line_3"></div>-->																			
		</div>
		<div class="col-md-6 text-left hidden-sm hidden-xs" style="">
			<div class="about_original_2_container" style="margin-top: 100px;">	
				<div class="about_original_title">Mission and Vision</div>
				<div class="about_original_content">
				To establish a platform for alumni to contribute to NCTU, making it another powerful backup force for our school in addition to government resources.
				</div>
			</div>
		</div>
	</div>		
</div>
</section>
<div class="container plan_container">
	<div class="row">
		<div class="col-md-6 hidden-lg hidden-md">	
			<div class="about_plan_main_container">
				<div class="about_plan_main_title">Major Programs for the Year</div>				
				<div class="about_plan_main_sub_title text-center" style="background: rgb(244, 163, 1)">I. Support of theOutstanding NCTU to Become a Great University Program</div>
				<div class="about_plan_main_content">				
					As one of top universities in Taiwan, NCTU faces a constantly changing world and challenges from rival universities worldwide, hence the need for abundant support from alumni besides government funds. This Foundation initiates the integrated plan Helping NCTU Transform from an Outstanding to a Great Universityto help our school become even more competitive in the world, with efforts made to solicit brilliant global professors, attract excellent international students, absorb outstanding domestic high-school graduates and build up an artistic and culturally rich campus.
				</div>
			</div>
		</div>		
		<div class="col-md-6">				
			<div class="grid-plan">
				<div class="grid-plan-sizer col-xs-12 col-sm-6"></div>
				<%=render "main/temp/about_card_1", id_id_id: 1%>
				<%=render "main/temp/about_card_2", id_id_id: 2%>
				<%=render "main/temp/about_card_3", id_id_id: 3%>
				<%=render "main/temp/about_card_4", id_id_id: 4%>
			</div>	
		</div>
		<div class="col-md-6 hidden-xs hidden-sm">	
			<div class="about_plan_main_container about_plan_main_container_1">
				<div class="about_plan_main_title">Major Programs for the Year</div>				
				<div class="about_plan_main_sub_title text-center" style="background: rgb(244, 163, 1)">I. Support of theOutstanding NCTU to Become a Great University Program</div>
				<div class="about_plan_main_content">				
					As one of top universities in Taiwan, NCTU faces a constantly changing world and challenges from rival universities worldwide, hence the need for abundant support from alumni besides government funds. This Foundation initiates the integrated plan Helping NCTU Transform from an Outstanding to a Great Universityto help our school become even more competitive in the world, with efforts made to solicit brilliant global professors, attract excellent international students, absorb outstanding domestic high-school graduates and build up an artistic and culturally rich campus.
				</div>
			</div>
		</div>
	</div>		
</div>
<div class="container plan_container">
	<div class="row">
		<div class="col-md-6">	
			<div class="about_plan_main_container about_plan_main_container_2">
				<div class="about_plan_main_title">Major Programs for the Year</div>				
				<div class="about_plan_main_sub_title text-center" style="background: rgb(192, 112, 163)">II. ThePromoting Campus Entrepreneurship Integrated Program</div>
				<div class="about_plan_main_content">				
					As a model school in creative entrepreneurship designated by the Ministry of Education, NCTU has never spared efforts in promoting start-up businesses on campus by offering favorable conditions for start-up businesses, allowing the entrepreneurship to be passed on for several decades. By initiating the Promoting Campus Entrepreneurship Integrated Program,this Foundation allows NCTU alumni to assist campus entrepreneurship teams or students aspiring in starting up a business to fulfill their dreams. With the support being passing on from the older to the younger like a chemical reaction under positive influence, the campus is expected to see research results translated into business development.				
				</div>
			</div>
		</div>		
		<div class="col-md-6">				
			<div class="grid-plan">
				<div class="grid-plan-sizer col-xs-12 col-sm-6"></div>
				<%=render "main/temp/about_card_5", id_id_id: 5%>
				<%=render "main/temp/about_card_6", id_id_id: 6%>
				<%=render "main/temp/about_card_7", id_id_id: 7%>
				<%=render "main/temp/about_card_8", id_id_id: 8%>
			</div>	
		</div>
	</div>		
</div>
<div class="container">
	<div class="row" style="height: 20vh">
		<div class="col-md-12">
		</div>
	</div>		
</div>				
<%= render "about_script" %>