<div class="container-fluid about_top">
	<div class="about_top_background_image"></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="top_solgan_container">
				<div class="left_vertical_solgan_line"></div>
				<div class="top_horizontal_solgan_line"></div>
				<div class="right_vertical_solgan_line"></div>
				<div class="bottom_horizontal_solgan_line"></div>
				<div class="text-center top_solgan">
						<span class="slogan_text slogan_1">飲</span><span class="slogan_text slogan_2">水</span><span class="slogan_text slogan_3">思</span><span class="slogan_text slogan_4">源</span>
				</div>
			</div>
			<div class="top_en_container text-center">
				Spring Foundation of NCTU
			</div>
			<div class="top_language_container text-center">
				<%= link_to root_url(locale: "zh-TW" ) do%>
				<div>中 文</div>
				<%end%>
				<%= link_to root_url(locale: "en" ) do%>
				<div>EN</div>
				<%end%>
			</div>
			<div class="about_arrow_container text-center">
				<a href="#about_1" class="about_arrow">
					<span class="glyphicon glyphicon-menu-down"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container" style="padding-top: 50px;" id="about_1">
	<div class="row">
		<div class="col-md-6 about_chairman_container text-center hidden-md hidden-lg">
			<%=image_tag 'about/chairman_p.png', class: 'about_chairman_p' %>
		</div>
		<div class="col-md-6 about_chairman_quote_container text-right" style="position: relative">
			<div class="about_quote_title about_quote_title_1 text-left" id="about_quote_title_1">
			董事長<span style="color: #b3a253;">的話</span>
			<div class="text-right about_quote_title_name">林嘉勲</div>
			</div>
			<div class="about_quote about_quote_1 text-center">
				<div id="chair_more_content_less">
				交通大學飲水思源的特殊校風，將交大人緊緊繫在一起
				<span style="font-size: 70%;" id="chair_more" class="about_more">...more</span>
				</div>
				<div id="chair_more_content" class="about_original_content text-left" style="margin-top: -40px;"><span style="font-size: 150%">交</span>通大學飲水思源的特殊校風，將交大人緊緊繫在一起，形成校友們一股強大的內聚力。秉持著這些優良傳統，本基金會在眾多校友無私的支持及對母校的期許下，已跨過二十多個年頭。<div></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本會除了創辦之初的捐款外，二十多年來也有許多校友及熱心夥伴們新增的捐助及積累。在歷屆董事會的指導下，本會贊助並參與眾多的學校發展計畫及校園活動。未來，希望藉本會之平台，凝聚校友的力量，擴展更多的資源，讓母校朝「偉大大學」目標一步一步邁進。<div></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感謝所有交大思源基金會的朋友們，讓我們大家為交大繼續共同努力！</div>
			</div>
		</div>
		<div class="col-md-6 about_chairman_container hidden-sm hidden-xs">
			<%=image_tag 'about/chairman_p.png', class: 'about_chairman_p' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 about_ceo_container text-center">
			<%=image_tag 'about/CEO_p.png', class: 'about_CEO_p' %>
		</div>
		<div class="col-md-6 text-right">
			<div class="about_quote_title about_quote_title_2 text-left">
			執行長<span style="color: #b3a253;">的話</span>
			<div class="text-right about_quote_title_name">黃種智</div>
			</div>
			<div class="about_quote about_quote_2 text-center">
				<div class="ceo_more_content_less">
				「飲水思源」是所有交通大學校友們一向秉持的重要價值與觀念
				<span style="font-size: 70%;" class="ceo_more about_more">...more</span>
				</div>
				<div class="ceo_more_content about_original_content text-left" style="margin-top: -40px;"><span style="font-size: 150%">飲</span>水思源，是所有交大人一向秉持的重要價值與觀念，種智有幸銜思源基金會董事會之命，擔任由校友前輩們所共同創立的財團法人交大思源基金會執行長一職，貫徹執行董事會的決議。<div></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本會雖囿於人力、財力之限制，及大環境快速變化下之嚴峻挑戰，我們仍基於校友們期盼母校成為國際一流大學之殷切心情，未來將與交大校友總會更緊密合作，善用校友經驗與社會資源，扮演母校最堅實的後盾與夥伴。 我們將建立更透明的捐款流向與相關計畫執行成效，珍惜與善用每筆捐款，讓本會成為校友與社會人士支持交大最有效益的平台。期盼大家一齊努力，再創交大發展巔峰!</div>
			</div>
		</div>
	</div>
</div>
<section class="original_section">
<div class="container">
	<div class="row">
		<div class="col-md-6 text-left" style="">
			<div class="about_original_1_container">
			<div class="about_original_title">成立<span style="color: #02a0eb;">緣起</span></div>
			<div class="about_original_content">國立交通大學自1958 年在新竹復校以來，先後培養了理工、管理、人文等人才達八萬餘人，分佈在產、官、學、研各領域，形成一股龐大校友力量。在各界熱心人士及校友齊心發起，並由殷之浩、施振榮、胡定華、焦佑鈞、簡明仁、葉宏清、陳榮祥、張國華、邱再興、曹興誠等人捐助下，於1994 年7 月23 日獲經濟部核准正式成立。基金會命名取自交大人重視「飲水思源」，不忘感念母校的永恆信念。</div>
			</div>
		</div>
		<div class="col-md-6 about_original_bg_1_container text-center">
		<!--<div class="about_original_line about_original_line_1"></div>-->
		<%=image_tag 'about/original_1.png', class: 'about_original_1' %>
		</div>
	</div>
</div>
</section>
<section class="original_section">
<div class="container">
	<div class="row">
		<div class="col-md-6  about_original_bg_2_container">
			<div class="about_original_2_container_mobile hidden-md hidden-lg">
				<div class="about_original_title">任務<span style="color: #f7d800">與使命</span></div>
				<div class="about_original_content">
				建立平台，凝聚校友力量挹注給交大，提供母校除了公部門資源外之校友強力後盾，共同實現母校邁向「偉大大學」目標
				</div>
			</div>
			<div class="text-center">
			<%=image_tag 'about/original_2.png', class: 'about_original_2' %>
			</div>
			<!--<div class="about_original_line about_original_line_3"></div>-->
		</div>
		<div class="col-md-6 text-left hidden-sm hidden-xs" style="">
			<div class="about_original_2_container" style="margin-top: 100px;">
				<div class="about_original_title">任務<span style="color: #f7d800">與使命</span></div>
				<div class="about_original_content">
				建立平台，凝聚校友力量挹注給交大，提供母校除了公部門資源外之校友強力後盾，共同實現母校邁向「偉大大學」目標
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<div class="container plan_container">
	<div class="row">
		<div class="col-md-6 hidden-lg hidden-md">
			<div class="about_plan_main_container">
				<div class="about_plan_main_title">年度<span style="color: rgb(244, 163, 1);">重要計畫</span></div>
				<div class="about_plan_main_sub_title text-center" style="background: rgb(244, 163, 1)">1. 支持交大從卓越邁向偉大大學</div>
				<div class="about_plan_main_content">
				交大身為國內頂尖大學之一，面對瞬息萬變的國際環境與全球大學的競爭，除來自公部門的經費挹注，須有更豐沛的校友力量支援。為協助母校厚植全球競爭優勢，本會推動「支持交大從卓越邁向偉大大學」整合計畫，分別從協助交大延攬國際優秀教授、爭取國際菁英就讀、吸引國內優秀高中畢業生、建置藝術化校園等方向努力。
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="grid-plan">
				<div class="grid-plan-sizer col-xs-12 col-sm-6"></div>
				<%=render "main/temp/about_card_1", id_id_id: 1%>
				<%=render "main/temp/about_card_2", id_id_id: 2%>
				<%=render "main/temp/about_card_3", id_id_id: 3%>
				<%=render "main/temp/about_card_4", id_id_id: 4%>
			</div>
		</div>
		<div class="col-md-6 hidden-xs hidden-sm">
			<div class="about_plan_main_container about_plan_main_container_1">
				<div class="about_plan_main_title">年度<span style="color: rgb(244, 163, 1);">重要計畫</span></div>
				<div class="about_plan_main_sub_title text-center" style="background: rgb(244, 163, 1)">1. 支持交大從卓越邁向偉大大學</div>
				<div class="about_plan_main_content">
				交大身為國內頂尖大學之一，面對瞬息萬變的國際環境與全球大學的競爭，除來自公部門的經費挹注，須有更豐沛的校友力量支援。為協助母校厚植全球競爭優勢，本會推動「支持交大從卓越邁向偉大大學」整合計畫，分別從協助交大延攬國際優秀教授、爭取國際菁英就讀、吸引國內優秀高中畢業生、建置藝術化校園等方向努力。
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container plan_container">
	<div class="row">
		<div class="col-md-6">
			<div class="about_plan_main_container about_plan_main_container_2">
				<div class="about_plan_main_title">年度<span style="color: rgb(192, 112, 163);">重要計畫</span></div>
				<div class="about_plan_main_sub_title text-center" style="background: rgb(192, 112, 163)">2. 促進校園創業─思源創新創業整合計畫</div>
				<div class="about_plan_main_content">
				延續交大學長們數十年來創業精神，且身為教育部創新創業中心示範學校之一，交大在推動校園創業一向不遺餘力，致力打造校園友善創業環境。本會也同時啟動「促進校園創業- 思源創新創業整合計畫」，由校友幫助校園創業團隊或未來有志創業之學生迎向夢想，一代幫一代產生正向循環，引發化學效應，促進校園研究成果商業化發展。
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="grid-plan">
				<div class="grid-plan-sizer col-xs-12 col-sm-6"></div>
				<%=render "main/temp/about_card_5", id_id_id: 5%>
				<%=render "main/temp/about_card_6", id_id_id: 6%>
				<%=render "main/temp/about_card_7", id_id_id: 7%>
				<%=render "main/temp/about_card_8", id_id_id: 8%>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="height: 20vh">
		<div class="col-md-12">
		</div>
	</div>
</div>
<%= render "about_script" %>
