<div class="container-fluid">

	<!--<div class="donation_content_background_image"></div>-->
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">		
		<!--
			<div class="donation_year text-center"><span><%= Time.zone.now.year-1 %>年</span><span style="margin-left: 18px; margin-right: 18px;">|</span><span><%= Time.zone.now.year%>年</span></div>	
		-->		
				<div class="donation_summary text-center">
					<div class="donation_summary_inner">
						<div class="donation_summary_ch"><%= t("已募") %></div>
						<div class="donation_summary_number"></div>
						<div class="donation_summary_en">NT</div>	
					</div>
					<div class="donation_range text-right"><%= t("累積期間") %> <%=Time.zone.now().year%>/01/01~<%=Time.zone.now().strftime("%Y/%m/%d")  %></div>	
				</div>
				<div class="text-center" style="margin-bottom: 10vh;">
					<a href="#donation_content_donate" class="donation_top_button"><%= t("一般性用途捐款") %></a>
					<a href="#donation-no-span" class="donation_top_button"><%= t("指定計畫捐款") %></a>
				</div>
				<div class="donation_arrow_container text-center">
					<a href="#donation_content_donate" class="donation_arrow">
						<span class="glyphicon glyphicon-menu-down"></span>
					</a>
				</div>
		</div>
	</div>		
</div>	
<div class="container-fluid donation_content_donate" id="donation_content_donate">
	<div class="donation_content_background_image"></div>
	<div class="row" style="position:relative; z-index:2;" id="credit">
		<div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 donation_content_donate_inner" id="donation_content_donate_inner">
			<p class="text-center" style="font-size: 22px; letter-spacing: 2px;"><%= t("一般性用途") %> <span style="color: #02a0eb;"><%= t("捐款") %></span></p>		
			<%= form_tag(main_donation_path(locale: I18n.locale), class: "donation_form") do -%>
						<%= hidden_field_tag 'id', 1, class: 'form-control'%>
						<div class="donation_form_title"><%= t("收據") %></div> 
						<div class="btn-group donation_btn_group" data-toggle="buttons">
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="receipt" autocomplete="off" value="true" id="1" /> <%= t("是") %>                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="receipt" autocomplete="off" value="false" id="1" /> <%= t("否") %>	                
			                </label>   
			            </div>	
			            <div class="form_group_donation form_group_donation_hidden form_group_donation_1">						            				
							<div class="form-group">
								<div class="donation_form_title"><%= t("收據抬頭") %></div> 
							  	<%= text_field_tag 'title', nil, class: 'form-control' %>
							</div>
						    <div class="form-group">
						    	<div class="donation_form_title"><%= t("聯絡人") %></div>   
						  		<%= text_field_tag 'name', nil, class: 'form-control' %>
						    </div>							
						    <div class="form-group">
						    	<div class="donation_form_title"><%= t("電話") %></div>   
						  		<%= text_field_tag 'phone', nil, class: 'form-control' %>
						    </div>  
						    <div class="form-group">
						    	<div class="donation_form_title">EMAIL</div>   
						  		<%= email_field_tag 'email', nil, class: 'form-control' %>
						    </div>						    
						    <div class="form-group">
						    	<div class="donation_form_title"><%= t("地址") %></div>   
						  		<%= text_field_tag 'address', nil, class: 'form-control' %>
						  	</div>  
						</div>						  					  	 
					  	<div class="donation_form_title"><%= t("金額") %></div>  
						<div class="btn-group donation_btn_group" data-toggle="buttons">
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="1000" /> $1000	                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="2000" /> $2000	                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="5000" /> $5000	                
			                </label> 			    
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="10000" /> $10000	                
			                </label> 		
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="15000" /> $15000	                
			                </label> 
			                <label class="btn btn-default donation_gray_btn">
			                    <input type="radio" name="amount" autocomplete="off" value="20000" /> $20000	                
			                </label> 			                			                		                            			                
		           		</div>    
						<div class="form-group form-inline"> 
						  	<%= text_field_tag 'amount_others', nil, class: 'form-control amount_others', placeholder: t('或輸入您想捐款的金額') %>
							<%= submit_tag t("捐款"), class: "btn donation_button"%>
						</div>  
			<% end -%>
			<p style="color: #888888">*<%= t("款項將直接用於本會所執行，但經費仍不足之各項計畫。") %></p>	
		</div>
	</div>	
</div>	
<div class="container">
<h2 class="donation-no-span" id="donation-no-span"><%= t("指定計畫") %> <span style="color: #02a0eb;"><%= t("捐款") %><span></h2>
</div>
<div class="container-fluid">
	<div class="grid" id="grid_container">
		<div class="grid-sizer col-xs-12 col-sm-4"></div>				
		<% Project.where('id <> 1 and visible = 1 and donate_begin_at <= ? and donate_end_at >= ?', Time.zone.now, Time.zone.now).each do |project|%>
			<%=render "donation_card", project: project%>	
		<% end %>	  		 				
	</div>	
</div>		
<div class="container-fluid text-center">
	<div class="row" style="margin-bottom: 40px; margin-top: 40px;">
		<div class="col-lg-12 donation_accounting">
			<div class="form-group form-inline">
			  <label for="sign_report"><%= t("會計師") %> <span style="color: #02a0eb"><%= t("簽證報告") %></span></label>
			  <select class="form-control" id="sign_report">	
			  	<option><%= t("請選擇") %></option>			
			  	<% SignReport.all.order('year').each do |s|%>
					<option value="<%= s.sr_attachment.url%>">
					<%= s.year.strftime("%Y")+t("年度") %>
					</option>
				<% end %>
			  </select>
			</div>				
		</div>
	</div>		
</div>	
<script>
$(document).ready(function(){	
	var link = document.URL.split('#')[1];	
	if ( link != 'grid_container' && link != 'donation_content_donate_inner' && link) {		
		$('#'+link).click()
		var $target = $('#'+link+'_title');	
		$('html, body').stop().animate({
			'scrollTop': $target.offset().top + 200
			}, 900, 'swing', function () {
		});
		
	}

});


//============================= click =============================//

$('a[href^="#"]').on('click',function (e) {
	e.preventDefault();
	var target = this.hash;
	var $target = $(target);	
	$('html, body').stop().animate({
		'scrollTop': $target.offset().top - 70
		}, 900, 'swing', function () {
			//window.location.hash = target;
	});
});


//============================= arrow =============================//

var tween = new TimelineMax()
				.fromTo(".donation_arrow span", 1,
						{top: '0px'},
						{top: '10px', repeat: -1, yoyo: true, ease: Circ.easeInOut})				
				//.to(".donation_content_donate_inner", 1, {autoAlpha: 1, ease: Linear.easeNone})

//============================= count =============================//

var controller = new ScrollMagic.Controller();
$('.donation_summary_number').html( Math.ceil(0).toLocaleString() )
var foo = { bar: 0 };		
tween = new TimelineLite();
tween.to(foo, 2, { bar: <%= Donation.where("donate_date >= ? and donate = ? ", Time.zone.now.beginning_of_year, true ).sum(:amount)%>, onUpdate: function() {
	 $('.donation_summary_number').html(Math.ceil(foo.bar).toLocaleString());}, ease: Linear.easeNone})
	 .to(".donation_summary_ch", 1, {autoAlpha: 1, ease: Linear.easeNone})	 
	 .to(".donation_summary_en", 1, {autoAlpha: 1, ease: Linear.easeNone})
	 .to(".donation_range", 1, {autoAlpha: 1, ease: Linear.easeNone})
	 //.to(".donation_content_donate_inner", 1, {autoAlpha: 1, ease: Linear.easeNone})
	 //.from(".donation_content_donate_inner", 1,{bottom: "40px", ease: Linear.easeNone})


	var tween = new TimelineMax()
				.to(".donation_content_donate_inner", 1, {autoAlpha: 1, ease: Linear.easeNone})
	 			.from(".donation_content_donate_inner", 1,{bottom: "20px", ease: Linear.easeNone})				
	var scene = new ScrollMagic.Scene({triggerElement: ".donation_content_donate_inner", tweenChanges: true})
					.setTween(tween)
					.addTo(controller);	
//============================= masonry =============================//
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
  //gutter: '.gutter-sizer',    
});
$grid.on( 'click', '.grid-item-button', function( event ) {
  $( event.currentTarget ).closest('.grid-item').toggleClass('is-expanded');
  $grid.masonry();
  id = $(event.currentTarget).attr('data-id')

  $("#doughnutChart_"+id).drawDoughnutChart([
    { title: "已募", value: parseInt($('#doughnutChart_'+id).attr('data-donation')),  color: "#02a0eb" },
    { title: "剩餘", value: parseInt($('#doughnutChart_'+id).attr('data-expect_remains')),   color: "#eeeeee" }
  ], {tipClass: "doughnutTip "+"doughnutTip_"+event.currentTarget.id});  
  
});

$grid.on( 'click', '.grid-item-close', function( event ) {
  $( event.currentTarget ).closest('.grid-item').toggleClass('is-expanded');
  $grid.masonry();
  $("#doughnutChart_"+event.currentTarget.id).empty();
  $(".doughnutTip_"+event.currentTarget.id).remove();
});
//============================= radio =============================//
$('input[type=radio][name=receipt]').change(function() {
	if(this.value === 'true' )
    	$('.form_group_donation_'+this.id).removeClass('form_group_donation_hidden');             	    
    else
    	$('.form_group_donation_'+this.id).addClass('form_group_donation_hidden');             	        		
    $grid.masonry() 
});
//============================= sponsor =============================//
$grid.on( 'click', '.donation_sponsor .glyphicon', function( event ) {
	$('.donation_sponsor_content_'+this.id).toggleClass('donation_sponsor_content_hidden');
	if ($(event.currentTarget).hasClass( "glyphicon-triangle-bottom" )) {
       $(event.currentTarget).removeClass( "glyphicon-triangle-bottom")
       $(event.currentTarget).addClass( "glyphicon-triangle-top")			
    }
    else if ($(event.currentTarget).hasClass( "glyphicon-triangle-top" )) {
       $(event.currentTarget).removeClass( "glyphicon-triangle-top")
       $(event.currentTarget).addClass( "glyphicon-triangle-bottom")		
    }
    grid.masonry();     
});
//============================= resize =============================//
$(window).resize(function() {
	$('.is-expanded').each(function()
	{
		id = $(this).attr('id')
		$("#doughnutChart_"+id).empty();
		$(".doughnutTip_"+id).remove();                
		$("#doughnutChart_"+id).drawDoughnutChart([
    		{ title: "已募", value: parseInt($('#doughnutChart_'+id).attr('data-donation')),  color: "#02a0eb" },
    		{ title: "剩餘", value: parseInt($('#doughnutChart_'+id).attr('data-expect_remains')),   color: "#eeeeee" }
    	], {tipClass: "doughnutTip "+"doughnutTip_"+id});  					
	});
}); 

//============================= select =============================//
$( "#sign_report" ).change(function() {
	//alert(this.value)
	window.location = this.value;
});

</script>
<style>
<% digit = (Donation.where("donate_date >= ? and donate = ? ", Time.zone.now.beginning_of_year, true ).sum(:amount) ).to_s.length%>
<% digit = digit + 0.5 if digit >= 4%>	
<% digit = digit + 0.5 if digit >= 7%>

.donation_summary{
	width: <%= 140 + digit*75%>px;	
}
@media (max-width: 768px) {
	.donation_summary{
		width: <%= 68 + digit*40%>px;			
	}
}	
@media (max-width: 480px) {
	.donation_summary{
		width: <%= 55 + digit*30%>px;			
	}
}
</style>
