<div class="container-fluid" style="min-height: 100vh; padding-top: 150px; padding-bottom: 150px;">
	<%@special_projects.each_slice(3) do |p|%> 
		<% p.each_with_index do |pp, index|%>
			<%if index == 0  %>
				<div class="row" style="padding-bottom: 100px;">
					<%= link_to pp.link do%>
					<div class="col-lg-offset-3 col-lg-6 text-center" style="padding-bottom: 100px; border-bottom: 10px solid #ffffff ">
						<div style="font-size: 35px; letter-spacing: 10px; color: rgb(192, 112, 163)"><span style="font-size: 200%"><%= pp.title_enlarge %></span>
							<div></div><span style="border-bottom: 1px solid rgb(192, 112, 163)"><%= pp.title %></span></div>
						<div class="text-center" style="font-size: 17px; line-height: 25px; letter-spacing: 1.5px; color: #777777;"><%= simple_format( pp.description %> )</div>
					</div>
					<%end%>
				</div>		
			<%elsif index == 1  %>
				<div class="row" style="padding-bottom: 100px;">
					<%= link_to pp.link do%>
					<div class="col-lg-offset-3 col-lg-6  text-center" style="padding-bottom: 100px; border-bottom: 10px solid #ffffff ">
						<div style="font-size: 35px; letter-spacing: 10px; color: rgb(244, 163, 1)"><span style="font-size: 200%"><%= pp.title_enlarge %></span>
							<div></div><span style="border-bottom: 1px solid rgb(244, 163, 1)"><%= pp.title %></span></div>
						<div class="text-center" style="font-size: 17px; line-height: 25px; letter-spacing: 1.5px; color: #777777;"><%= simple_format( pp.description )%></div>
					</div>
					<%end%>
				</div>		
			<%elsif index == 2  %>
				<div class="row" style="padding-bottom: 100px;">
					<%= link_to pp.link do%>
					<div class="col-lg-offset-3 col-lg-6  text-center" style="padding-bottom: 100px; border-bottom: 10px solid #ffffff ">
						<div style="font-size: 35px; letter-spacing: 10px; color: #02a0eb"><span style="font-size: 200%"><%= pp.title_enlarge %></span> 
							<div></div><span style="border-bottom: 1px solid #02a0eb"><%= pp.title %></span></div>
						<div class="text-center" style="font-size: 17px; line-height: 25px; letter-spacing: 1.5px; color: #777777;"><% simple_format( pp.description )%></div>
					</div>
					<%end%>
				</div>			
			<%end%>			
		<%end%>		
	<%end%>	
</div>				