<div class="container">
	<div class="row">
		<h3>重設密碼</h3>
	</div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<div class="container" style="margin-top: 10mm">  
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

	  <div class="form-group row">
	      <label class="col-sm-offset-2 col-sm-2 control-label">新密碼 ( 密碼最少 <%= @minimum_password_length %> 字元)</label>
	      <div class="col-sm-4"><%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: '新密碼'%></div>
	  </div>
	
	  <div class="form-group row">
	    <label class="col-sm-offset-2 col-sm-2 control-label">密碼確認</label>
	    <div class="col-sm-4"><%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: "form-control", placeholder: '密碼確認'%></div>
	  </div>

	  <div class="form-group row">
		  <div class="col-sm-offset-9 col-sm-2 pull-right-lg">
			  <%= f.submit '寄信',  class: "btn btn-default" %>
		  </div>
	  </div>
</div>
<% end %>

