<%= link_to donation_path(donation) do %>
	<div class="col-md-4">
	  <table class="table backend_index_table">
	  	<tbody>
	      <tr>
	        <td colspan="2"><%= Project.find(donation.project_id).name%></td>
	      </tr>
	      <tr>
	        <th>編號 </th>
	        <td><%= donation.order_num %></td>
	      </tr>	      
	      <tr>
	        <th>抬頭 </th>
	        <td><%= donation.receipt_title %></td>
	      </tr>
	      <tr>
	        <th>金額 </th>
	        <td><%= donation.amount %>元</td>
	      </tr>
	      <tr>
	        <th>方式 </th>
	        <td><%= Hash[donateWayOptions].rassoc(donation.donate_way).first %></td>
	      </tr>
	      <tr>
	      	<% if donation.donate %>
	      		<th>已捐款</th>
	      	<% else %>
	      		<th style="color: #b30000">尚未捐款</th>
	      	<% end %>
	      </tr>
	      <tr>
	    </tbody>
	  </table>
	</div>
<% end %>