<p id="notice"><%= notice %></p>

<h1>Listing Donations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Date</th>
      <th>Receipt title</th>
      <th>Receipt address</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.name %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.type %></td>
        <td><%= donation.date %></td>
        <td><%= donation.receipt_title %></td>
        <td><%= donation.receipt_address %></td>
        <td><%= donation.phone %></td>
        <td><%= donation.email %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
