<div class="container" style="margin-bottom: 20px;">
  <div class="row">
	<h3 class="col-sm-5">捐款明細</h3>
  </div>
</div>
<div class="container">
	<div class="row">	
		<div class="col-md-12">
			<%= link_to '刪除', @donation, method: :delete, data: { confirm: 'Are you sure?' } , class: 'delete-btn pull-right'%>			
			<%= link_to "編輯", edit_donation_path(@donation), class: 'edit-btn pull-right', style: "margin-right: 20px" %>
		</div>
	</div>
</div>
<div class="container">
	  <div class="row">

	<table class="table donation_show_table">
	    <tbody style="border-left: solid 13px #194180 !important;">
	      <tr>
	        <td colspan="8" class="dt-content" style="font-weight: 900!important; background: #e3e3e3; font-size: 16px;"><%= @project_name %>計畫</td>
	      </tr>
	      <tr>
	      	<td class="dt-title">連絡人</td>
	        <td colspan="3" class="dt-content"><%= @donation.name %></td>
	        <td class="dt-title">編號</td>
	        <td colspan="3" class="dt-content"><%= @donation.order_num %></td>
	      </tr>
	      <tr>
	        <td class="dt-title">金額</td>
	        <td colspan="1" class="dt-content"><%= @donation.amount %>元整</td>
	        <td colspan="1" class="dt-title">方式</td>
	        <td colspan="1" class="dt-content"><%= Hash[donateWayOptions].rassoc(@donation.donate_way).first %></td>
	      	<td colspan="1" class="dt-title">日期</td>
	      	<td colspan="2" class="dt-content"><%= @donation.donate_date.strftime("%Y-%m-%d") %></td>
	      </tr>
	      <tr>
	        <td class="dt-title">抬頭</td>
	        <td colspan="1" class="dt-content"><%= @donation.receipt_title %></td>
	        <td colspan="1" class="dt-title">電話</td>
	        <td colspan="1" class="dt-content"><%= @donation.phone %></td>
	        <td colspan="1" class="dt-title">Email</td>
	        <td colspan="2" class="dt-content"><%= @donation.email %></td>
	      </tr>
	      <tr>
	        <td class="dt-title">地址</td>
	        <td colspan="7" class="dt-content"><%= @donation.receipt_address %></td>
	      </tr>
	      <tr>
	        <td colspan="8" class="dt-content" style="padding:4px 16px!important;"><%= link_to "列印收據", "#", onclick:"printData();", class: 'btn btn-info print-btn pull-right' %></td>
	      </tr>
	    </tbody>
	</table>
	</div>
</div>
<div id="printTable" style="display: none;">
<div style="text-align: right;">捐款收據編號ID:<%= @donation.order_num %></div>
<style>
.print-table {
	border-collapse: collapse;
	font-size: 20px;
    width: 210mm;
    border: 1px solid;
}
.print-table th {
    height: 10mm;
    width: 30mm;
    border: 2px solid;
} 
.print-table td {
    height: 10mm;
    width: 40mm;
    border: 2px solid;
    text-align: center;
} 
</style>
<table class="print-table">
<tbody>
	<tr>
		<td colspan="8"><%=image_tag 'logo_text.png', class: 'logo_text' %><span style="margin-left: 8px;">捐款收據</span>
			<div style="font-size:13px">法人登記簿第11冊第17頁第295號 國稅局統一編號:98285331<br>
				 所得稅減免字號: 北區國稅竹市資第8300115086號<br>
				 新竹市大學路1001號 負責人: 胡定華<br>
				 郵政劃撥儲金帳戶: 18372451 號 財團法人交大思源基金會
			</div>
			<div style="float: right">中華民國<span style="margin-left: 39px;">年</span><span style="margin-left: 23px;">月</span><span style="margin-left: 23px;">日</span></div>
		</td>
	</tr>
	<tr >
		<th>茲收到</th>
		<td colspan="7" style="text-align: left;"><%= @donation.name %></td>
	</tr>
	<tr>
		<th>金額</th>
		<td colspan="7" style="text-align: left;" id="print_amount"></td>
	</tr>
		<th>說明</th>
		<td colspan="7" style="text-align: left;"></td>
	<tr>
		<td>執行長或受全代理人</td>
		<td></td>
		<td>會計</td>
		<td></td>
		<td>出納</td>
		<td></td>
		<td>經手人</td>
		<td></td>
	</tr>
</tbody>
</table>
<div>承蒙慷慨贊助，敬致謝枕</div>
</div>
<script>
$(document).on('ready', function() {
   var digit_uppercase = function (n) {
    var digit = [
        '零' , '壹' , '貳' , '叁' , '肆' ,
        '伍' , '陸' , '柒' , '捌' , '玖'
    ];
    var unit = [ '' , '拾' , '佰' , '仟' ];
    var group = [ '元' , '萬' , '億' ];
 
    var s = '' ;
    for ( var i = 0; i < group.length && n > 0; i++) {
        var p = '' ;
        for ( var j = 0; j < unit.length && n > 0; j++) {
            p = digit[n % 10] + unit[j] + p;
            n = Math. floor (n / 10);
        }
        s = p.replace(/(零.)*零$/, '' )
             .replace(/^$/, '零' )
          + group[i] + s;
    }
    return s.replace(/(零.)*零元/, '元' )
            .replace(/(零.)+/g, '零' )
            .replace(/^$/, '零元' ) + '整' ;
};
	document.getElementById('print_amount').innerHTML = digit_uppercase('<%= @donation.amount %>')
});
function printData() {    
               var data = document.getElementById('printTable').innerHTML;
     var popupWindow = window.open('','printwin',
          'left=100,top=100,width=400,height=400');
     popupWindow.document.write('<HTML>\n<HEAD>\n');
     popupWindow.document.write('<TITLE></TITLE>\n');
     popupWindow.document.write('<URL></URL>\n');
     //popupWindow.document.write("<link href='/assets/print.css' media='print' rel='stylesheet' type='text/css' />\n");
     popupWindow.document.write('<script>\n');
     popupWindow.document.write('function print_win(){\n');
     popupWindow.document.write('\nwindow.print();\n');
     popupWindow.document.write('\nwindow.close();\n');
     popupWindow.document.write('}\n');
     popupWindow.document.write('<\/script>\n');
     popupWindow.document.write('</HEAD>\n');
     popupWindow.document.write('<BODY onload="print_win()">\n');
     popupWindow.document.write(data);
     popupWindow.document.write('</BODY>\n');
     popupWindow.document.write('</HTML>\n');
     popupWindow.document.close();
}
</script>
