<div class="container" style="margin-bottom: 20px;">
  <div class="row">
	<h3 class="col-sm-5 ">捐款<span class="top-title-span">明細</h3>
  </div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9">
			<%= link_to "編輯", edit_donation_path(@donation), class: 'btn btn-default edit-btn' %>
			<%= link_to '刪除', @donation, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger delete-btn'%>
		</div>
	</div>
</div>
<div class="container-fluid">
	<table class="table donation_show_table">
	    <tbody style="border-left: solid 13px #33CCCC!important;">
	      <tr>
	        <td colspan="8" class="dt-content" style="font-weight: 900!important; background: #e3e3e3; font-size: 16px;"><%= @project_name %>計畫</td>
	      </tr>
	      <tr>
	      	<td class="dt-title">連絡人</td>
	        <td colspan="3" class="dt-content"><%= @donation.name %></td>
	        <td class="dt-title">編號</td>
	        <td colspan="3" class="dt-content"><%= @donation.order_num %></td>
	      </tr>
	      <tr>
	        <td class="dt-title">金額</td>
	        <td colspan="1" class="dt-content"><%= @donation.amount %>元整</td>
	        <td colspan="1" class="dt-title">方式</td>
	        <td colspan="1" class="dt-content"><%= Hash[donateWayOptions].rassoc(@donation.donate_way).first %></td>
	      	<td colspan="1" class="dt-title">日期</td>
	      	<td colspan="2" class="dt-content"><%= @donation.donate_date.strftime("%Y-%m-%d") %></td>
	      </tr>
	      <tr>
	        <td class="dt-title">抬頭</td>
	        <td colspan="1" class="dt-content"><%= @donation.receipt_title %></td>
	        <td colspan="1" class="dt-title">電話</td>
	        <td colspan="1" class="dt-content"><%= @donation.phone %></td>
	        <td colspan="1" class="dt-title">Email</td>
	        <td colspan="2" class="dt-content"><%= @donation.email %></td>
	      </tr>
	      <tr>
	        <td class="dt-title">地址</td>
	        <td colspan="7" class="dt-content"><%= @donation.receipt_address %></td>
	      </tr>
	      <tr>
	        <td colspan="8" class="dt-content" style="padding:4px 16px!important;"><%= link_to "列印收據", "#", onclick:"printData();", class: 'btn btn-info print-btn pull-right' %></td>
	      </tr>
	    </tbody>
	</table>
</div>

<script>
function printData() {    
               var data = document.getElementById('printTable').innerHTML;
     var popupWindow = window.open('','printwin',
          'left=100,top=100,width=400,height=400');
     popupWindow.document.write('<HTML>\n<HEAD>\n');
     popupWindow.document.write('<TITLE></TITLE>\n');
     popupWindow.document.write('<URL></URL>\n');
     //popupWindow.document.write("<link href='/assets/print.css' media='print' rel='stylesheet' type='text/css' />\n");
     popupWindow.document.write('<script>\n');
     popupWindow.document.write('function print_win(){\n');
     popupWindow.document.write('\nwindow.print();\n');
     popupWindow.document.write('\nwindow.close();\n');
     popupWindow.document.write('}\n');
     popupWindow.document.write('<\/script>\n');
     popupWindow.document.write('</HEAD>\n');
     popupWindow.document.write('<BODY onload="print_win()">\n');
     popupWindow.document.write(data);
     popupWindow.document.write('</BODY>\n');
     popupWindow.document.write('</HTML>\n');
     popupWindow.document.close();
}
</script>
<div id="printTable" style="display: none;">
<style>
table {
	font-size: 20px;
    width: 210mm;
    border: 1px solid;
}
th {
    height: 10mm;
    width: 30mm;
} 
td {
    height: 10mm;
    width: 40mm;
    border-bottom: 1px solid;
} 
</style>
<table class="table">
<tbody>
	<tr >
		<td><%= @donation.id %></td>
		<td><%= @donation.name %></td>
		<td><%= @donation.amount %></td>
		<td><%= Hash[donateWayOptions].rassoc(@donation.donate_way).first %> </td>
	</tr>
</tbody>
</table>
</div>
