<div class="container" style="margin-bottom: 20px;">
  <div class="row">
	<h3 class="col-sm-5 ">捐款明細</h3>
  </div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-7">
			<%= link_to "編輯", edit_donation_path(@donation), class: 'btn btn-default' %>
			<%= link_to 'Destroy', @donation, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">捐款人: </div>
	  <div class="col-md-4"> <%= @donation.name %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">金額: </div>
	  <div class="col-md-4"> <%= @donation.amount %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">方式: </div>
	  <div class="col-md-4"> 
	  	<%= Hash[donateWayOptions].rassoc(@donation.donate_way).first %> 
	  	</div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">日期</div>
	  <div class="col-md-4"> <%= @donation.donate_date.strftime("%Y-%m-%d") %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">收據抬頭</div>
	  <div class="col-md-4"> <%= @donation.receipt_title %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">收據地址</div>
	  <div class="col-md-4"> <%= @donation.receipt_address %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">電話</div>
	  <div class="col-md-4"> <%= @donation.phone %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">Email</div>
	  <div class="col-md-4"> <%= @donation.email %></div>
	</div>
</div>
<%= link_to "PRINT", "#", onclick:"printData();", class: 'btn btn-primary col-md-offset-2' %>
<script>
function printData() {    
               var data = document.getElementById('printTable').innerHTML;
     var popupWindow = window.open('','printwin',
          'left=100,top=100,width=400,height=400');
     popupWindow.document.write('<HTML>\n<HEAD>\n');
     popupWindow.document.write('<TITLE></TITLE>\n');
     popupWindow.document.write('<URL></URL>\n');
     //popupWindow.document.write("<link href='/assets/print.css' media='print' rel='stylesheet' type='text/css' />\n");
     popupWindow.document.write('<script>\n');
     popupWindow.document.write('function print_win(){\n');
     popupWindow.document.write('\nwindow.print();\n');
     popupWindow.document.write('\nwindow.close();\n');
     popupWindow.document.write('}\n');
     popupWindow.document.write('<\/script>\n');
     popupWindow.document.write('</HEAD>\n');
     popupWindow.document.write('<BODY onload="print_win()">\n');
     popupWindow.document.write(data);
     popupWindow.document.write('</BODY>\n');
     popupWindow.document.write('</HTML>\n');
     popupWindow.document.close();
}
</script>
<div id="printTable" style="display: none;">
<style>
table {
	font-size: 20px;
    width: 210mm;
    border: 1px solid;
}
th {
    height: 10mm;
    width: 30mm;
} 
td {
    height: 10mm;
    width: 40mm;
    border-bottom: 1px solid;
} 
</style>
<table class="table">
<tbody>
	<tr >
		<td><%= @donation.id %></td>
		<td><%= @donation.name %></td>
		<td><%= @donation.amount %></td>
		<td><%= Hash[donateWayOptions].rassoc(@donation.donate_way).first %> </td>
	</tr>
</tbody>
</table>
</div>
