<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :kind, :value => params[:pj_kind]%>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">全稱</label>
  		<div class="col-sm-6">
  			<%= f.text_field :name, class: "form-control", placeholder: "全稱" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-offset-1 col-sm-2 control-label">西元年度</label>
		<div class="col-sm-6">
			<%= f.text_field :year, class: "form-control", id: 'datetimepicker_year', placeholder: "西元年度" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_year').datetimepicker({
						format : 'YYYY'		                
	                });
	            });
	    </script>	
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">簡稱</label>
  		<div class="col-sm-6">
  			<%= f.text_field :abbreviation, class: "form-control", placeholder: "簡稱" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">收入</label>
  		<div class="col-sm-6">
  			<%= f.number_field :income, class: "form-control", placeholder: "收入" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">人事支出</label>
  		<div class="col-sm-6">
  			<%= f.number_field :exp_personnel, class: "form-control", placeholder: "人事支出" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">業務支出</label>
  		<div class="col-sm-6">
  			<%= f.number_field :exp_business, class: "form-control", placeholder: "業務支出" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">雜支支出</label>
  		<div class="col-sm-6">
  			<%= f.number_field :exp_mix, class: "form-control", placeholder: "雜支支出" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">其他支出</label>
  		<div class="col-sm-6">
  			<%= f.number_field :exp_other, class: "form-control", placeholder: "其他支出" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">臨時帳號</label>
  		<div class="col-sm-6">
  			<%= f.text_field :p_account, class: "form-control", placeholder: "臨時帳號" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
  	<label class="col-sm-offset-1 col-sm-2 control-label">臨時密碼</label>
  		<div class="col-sm-6">
  			<%= f.password_field :p_password, class: "form-control", placeholder: "臨時密碼" %>
    	</div>
  	</div>
  </div>
  <div class="form-group row">
		<label class="col-sm-offset-1 col-sm-2 control-label">帳號開始</label>
		<div class="col-sm-6">
			<%= f.text_field :account_begin, class: "form-control", id: 'datetimepicker_account_begin', placeholder: "西元年度" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_account_begin').datetimepicker({
						format : 'YYYY/MM/DD'		                
	                });
	            });
	    </script>	
  </div>
  <div class="form-group row">
		<label class="col-sm-offset-1 col-sm-2 control-label">帳號結束</label>
		<div class="col-sm-6">
			<%= f.text_field :account_end, class: "form-control", id: 'datetimepicker_account_end', placeholder: "西元年度" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_account_end').datetimepicker({
						format : 'YYYY/MM/DD'		                
	                });
	            });
	    </script>	
  </div>
  <div class="form-group ">
		<div class="col-sm-offset-8 col-sm-10">
			<%= f.submit '儲存',  class: "btn btn-default"  %>
		</div>
  </div>
<% end %>
