<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Name</th>
      <th>Budget</th>
      <th>Exp personnel</th>
      <th>Exp business</th>
      <th>Exp mix</th>
      <th>Exp other</th>
      <th>Exe desc</th>
      <th>Donate flag</th>
      <th>Abbreviation</th>
      <th>Account begin</th>
      <th>Account end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.year %></td>
        <td><%= project.name %></td>
        <td><%= project.budget %></td>
        <td><%= project.exp_personnel %></td>
        <td><%= project.exp_business %></td>
        <td><%= project.exp_mix %></td>
        <td><%= project.exp_other %></td>
        <td><%= project.exe_desc %></td>
        <td><%= project.donate_flag %></td>
        <td><%= project.abbreviation %></td>
        <td><%= project.account_begin %></td>
        <td><%= project.account_end %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
