<div class="container">
	<div class="row">
		<h3>自辦計畫</h3>
	</div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9">
			<%= link_to "新增", new_project_path, class: 'btn btn-info' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="column">
			<table class="table">
				<tbody>
				    <% @projects.each do |project| %>
				      <tr data-link="<%= project_path(project) %>">
				        <td><%= project.year %></td>
				        <td><%= project.name %></td>
				        <td><%= project.budget %></td>
				        <td><%= project.exp_personnel %></td>
				        <td><%= project.exp_business %></td>
				        <td><%= project.exp_mix %></td>
				        <td><%= project.exp_other %></td>
				        <td><%= project.exe_desc %></td>
				        <td><%= project.donate_flag %></td>
				        <td><%= project.abbreviation %></td>
				        <td><%= project.account_begin %></td>
				        <td><%= project.account_end %></td>
				      </tr>
				    <% end %>
				  </tbody>
			</table>
		</div>
	</div>
</div>

<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})

</script>
  
