  <div class="row" style="margin-bottom: 20px;">
  	<h3 class="col-md-offset-1 col-sm-5"><%= @project.name %>計畫</h3>
  </div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9 pull-right-lg">
			<%= link_to "編輯", edit_project_path(@project, :pj_kind => @project.kind), data: { no_turbolink: true }, class: 'btn btn-default edit-btn' %>
			<%= link_to '刪除', @project, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger delete-btn'%>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">簡稱</div>
	    <div class="col-md-4 show-content" style="font-size: 24px;"> <%= @project.abbreviation %></div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">描述</div>
	    <div class="col-md-5 show-content">&nbsp&nbsp<%= @project.description %></div>
	</div>
	<div class="row">
	    <div class="col-md-3 col-md-offset-3 show-title">西元年度</div>
	  	<div class="col-md-3 show-content" style="font-size: 24px;"> <%= @project.year.strftime("%Y") %></div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">去年餘額</div>
	    <div class="col-md-3 show-content" style="font-size: 24px;"> <%= number_with_delimiter @project.last_year_balance || 0%> 元</div>
	</div>	
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">預算</div>
		<div class="col-md-3 show-content" style="font-size: 24px;"> <%=  number_with_delimiter @project.budget || 0%> 元</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">收入</div>
	    <div class="col-md-3 show-content" style="font-size: 24px;"> <%=  number_with_delimiter @project.income || 0%> 元</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">支出</div>
	    <div class="col-md-3 show-content" style="font-size: 24px;"> <%=  number_with_delimiter @project.last_year_exp || 0%> 元</div>
	</div>	
	<div class="row">
	    <div class="col-md-3 col-md-offset-3 show-title">餘額</div>
	    <div class="col-md-3 show-content" style="font-size: 24px;"> <%=  number_with_delimiter @project.balance || 0%> 元</div>
	</div>
	<div class="row" >
	  <div class="col-md-3 col-md-offset-3 show-title">收支明細</div>
	  <div class="col-md-3 show-content"> <% unless @project.pj_exp_attachment_file_name.blank? %><%= link_to @project.pj_exp_attachment_file_name, @project.pj_exp_attachment.url(:original, false) %><% end %></div>
	</div>
	<% if @project.kind == GLOBAL_VAR['project_self']%>
	<div class="row">
		<div class="col-md-3 col-md-offset-3 show-title">顯示前台</div>
	    <div class="col-md-3 show-content" style="font-size: 24px;"> <% if @project.visible%>是 <% else %>否<% end %></div>
	</div>	
	<div class="row">
	  <div class="col-md-3 col-md-offset-3 show-title">執行狀況描述</div>
	  <div class="col-md-3 show-content" style="font-size: 24px;"> <%= @project.exe_desc  %></div>
	</div>	
	<% elsif @project.kind == GLOBAL_VAR['project_delegate']%>
	<!--
	<div class="row">
	  <div class="col-md-3 col-md-offset-3 show-title">帳號開始時間</div>
	  <div class="col-md-3 show-content" style="font-size: 24px;"> <%= @project.account_begin.strftime("%Y-%m-%d") %></div>
	</div>
	-->
	<div class="row">
	  <div class="col-md-3 col-md-offset-3 show-title">帳號結束時間</div>
	  <div class="col-md-3 show-content" style="font-size: 24px;"> <%= @project.account_end.strftime("%Y-%m-%d") %></div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-3 show-title">捐款</div>
	</div>
	<% end %>
	<div class="row">		
		<div class="col-md-offset-1 col-md-10" style="margin-top: 40px;">
			<div style="border-top: 1px solid #fff;"></div>
		</div>					
	</div>
	<div class="row" style="margin: 20px 0px;">
  		<h3 class="col-md-offset-1 col-sm-5 top-title">捐款<span class="top-title-span">明細</span></h3>
  	</div>
	<div class="container">
		<% @project.donations.each do |donation| %>
			<%= render "sub_donation_table", donation: donation %>
		<% end %>
	</div>
</div>



