<%= form_for(@link) do |f| %>
<div class="container" style="margin-top: 10mm">
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <label class="col-sm-offset-2 col-sm-2 control-label">連結名稱*</label>
    <div class="col-sm-4"><%= f.text_field :name, class: "form-control", placeholder: '連結名稱' %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-offset-2 col-sm-2 control-label">網址*</label>
    <div class="col-sm-4"><%= f.text_field :web_addr, class: "form-control", placeholder: '範例: https://www.spring.com.tw' %></div>
  </div>
  <div class="form-group row">
		<div class="col-sm-offset-9 col-sm-2 pull-right-lg">
			<%= f.submit '儲存',  class: "btn btn-info save-btn"  %>
		</div>
  </div>
</div>
<% end %>
