<% if index%3 == 0%>
	<div class="row">
<% end %>

<%= link_to story_path(story) do%>
<div class="col-md-4">
	<table class="table story-table backend_index_table">
		<tbody>
	      <tr style="height: 55px;">
	        <td colspan="2"><%= story.topic %></td>
	      </tr>
	      <tr style="height: 12px;" >
	      </tr>
	      <tr style="height: 289px;">
	      	<th>內容: </th>
	        <td style="font-size: 16px;">
	        	<% if story.description.length > 239 %>
				  	<%= truncate(story.description.gsub("\r\n", "\n"), length: 150) %>
				    <%= link_to '  Read more', '', class: "read-more-#{story.id}" %>
				 <% else %>
				    <%= story.description.gsub("\r\n", "\n") %>
				 <% end %>
	        </td>
	      </tr>
    	</tbody>
  	</table>
</div>
<% end %>

<% if index%3 == 2%>
	</div>
<% end %>