<div class="container">
	<div class="row">
		<h3>最新消息</h3>
	</div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9">
			<%= link_to "新增消息", new_story_path, data: { no_turbolink: true }, class: 'btn btn-info' %>
		</div>
	</div>
</div>
<div class="container">
	<% @stories.each do |story| %>
		<%= link_to story_path(story)  do%>
		<div class="col-sm-4">
			<div class="panel panel-default">
			  <div class="panel-heading"><%= story.topic %></div>
			  <div class="panel-body">
			    <%= story.description %>
			    </div>
			    <div class="panel-body">
			    <%= embed(story.video_url) %>
			  </div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>

