<p id="notice"><%= notice %></p>

<h1>Listing Stories</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Topic</th>
      <th>Video url</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.description %></td>
        <td><%= story.topic %></td>
        <td><%= embed(story.video_url) %>  </td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story), data: { no_turbolink: true } %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增最新消息', new_story_path, data: { no_turbolink: true } %>
