<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  	<div class="panel panel-default login-panel col-md-offset-4 col-md-4">
		  <div class="panel-heading login-head">登入</div>
		  <div class="panel-body login-body">
		  	　<div class="form-group row">
			    <label class="col-md-5 control-label">Email</label>
			    <%= f.email_field :email, autofocus: true , class: "col-md-7 form-control" %>
			  </div>
			
			  <div class="form-group row">
			    <label class="col-md-5 control-label">密碼</label>
			    <%= f.password_field :password, autocomplete: "off" , class: "col-md-7 form-control"%>
			  </div>
			
			  <div class="row">
				  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
					<%= link_to "忘記密碼?", new_password_path(resource_name) , class: "col-md-4" , style: "color: #194180; padding-top: 5px;"%>
				  <% end -%>
				  <div class="actions" style="display: inline;">
				    <%= f.submit "登入" , class: " pull-right col-md-4 btn btn-info save-btn"%>
				  </div>
			  </div>
		  </div>
	</div>
  
  
<% end %>

