<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/soft.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_3"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;"><%= t('提升軟實力計畫')%></span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title"><%= t('提升軟實力計畫')%></div>
			<div class="plan_card_enlarge_content"><%= t('贊助交大「提升軟實力計畫」，聘任國際大師級教授及青年優秀教授，致力於提升學術研究之國際水準，打造一流的學術研究團隊，提升教學及研究品質。交大頂尖大學計畫辦公室')%></div>		
		</div> 		
	</div>
</div>