<ul class="nav nav-pills">
  <li role="presentation" class="active"><%=link_to "自辦計畫", projects_path %></li>
  <li role="presentation"><%=link_to "捐款", donations_path %></li>
  <li role="presentation"><%=link_to "最新消息", stories_path %></li>
  <li role="presentation"><%=link_to "相關連結", links_path %></li>
  <li role="presentation"><%=link_to "帳號管理", users_path %></li>
</ul>