<section class="footer">
<div class="container">
	<div class="row" style="margin-top: 10px;">	
		<div class="col-sm-offset-2 col-sm-2">
			<div class="footer_title"><%= t("董事") %></div>
			<ul style="">
				<li><%= link_to t("董事會成員"), main_boardMembers_path%></li>
				<li><%= link_to t("重要會務記事"), main_meetings_path%></li>
			</ul>	
		</div>	
		<div class="col-sm-2" style="">
			<div class="footer_title"><%= t("聯絡") %></div>
			<ul style="">
				<li><%= link_to t("聯絡資訊"), main_contactUs_path%></li>
			</ul>				
		</div>				
		<div class="col-sm-2" style="">
			<div class="footer_title"><%= t("其他") %></div>
			<ul style="">
				<li><%= link_to t("相關連結"), main_otherLinks_path%></li> 
				<li><%= link_to t("文件下載"), main_downloaded_path%></li> 				
			</ul>				
		</div>	
		<div class="col-sm-2" style="">
			<div class="footer_title"><%= t("語言") %></div>
			<ul style="">
				<li><%= link_to '中文', root_url(locale: "zh-TW" ) %></li> 
				<li><%= link_to 'English', root_url(locale: "en" ) %></li> 
			</ul>				
		</div>							
	</div>	
	<!--
	<a href="">English</a> / <a href="">中文</a>
	
	<div class="row text-center" style="margin-top: 10px;">
		<div class="col-xs-12">
			<div>300新竹市大學路1001號 統一編號: 98285331</div>		
		</div>	
	</div>		
	<div class="row text-center" style="margin-top: 10px;">
		<div class="col-xs-12">
			<div style="font-family:Times New Roman;">TEL: 03-5725931 FAX: 03-5725934</div>		
		</div>	
	</div>	
	-->		
	<div class="row text-center" style="margin-top: 30px; font-size: 12px; letter-spacing: 0px; ">
		<div class="col-xs-12">
			<div>法人登記簿第11冊19頁第295號 北區國稅市資第8300115086號</div>		
		</div>	
	</div>	
	<div class="row">
		<p class="text-center footer_copyright">Copyright © 2015 Spring Foundation of NCTU. All rights reserved.</p>
	</div>	
</div>
</section>
