<!DOCTYPE html>
<html style="height:auto; min-height:100%;">
<head>
  <title>財團法人交大思源基金會</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <%= favicon_link_tag 'logo_favicon.png' %>     
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="backend">
<div class="cover"></div>	
<%=render "layouts/backend_menu" %>
<%= yield %>
<%=render "layouts/script" %>   
</body>
</html>
