<!DOCTYPE html>
<html>
<head>
  <title>Siyuan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "layouts/menu" %>
<%= yield %>
<script>
	<% flash.each do |type, message| %>	
	<%case type%>
	<%when 'notice'%>
		toastr['success']('<%=message.html_safe%>')				
	<%when 'alert'%>
		toastr['warning']('<%=message.html_safe%>')					
	<%else%>
		toastr['<%=type%>']('<%=message.html_safe%>')			
	<%end%> 
<% end %>
</script>    
</body>
</html>
