<!DOCTYPE html>
<html>
<%=render "layouts/head" %> 
<body>
<div class="cover"></div>	
<%=render "layouts/frontend_menu" %>
<%= yield %>
<%=render "layouts/footer" %>  
<%=render "layouts/script" %>  
</body>
</html>